/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04-may-2017, 12:12:59
    Author     : ALUMNO IG
*/
body{
    background-color: lightgrey;
}
div{
    color:white;
    border: 2px solid;
    border-radius: 1em;
    background-color: #7DBC39;
    margin: 100px 0px 0px 480px;
    text-align: center;
    display: inline-block;
    background-size: 100%;
    padding: 1em;
    padding-right: 4em;
    padding-left: 4em;
}

ul{
    list-style-type: square;
    text-align: left;
}

#eliminar{
    background: rgb(202, 60, 60);
    padding: 0.05em;
    margin-top: 1em;
    margin-left: -1em;
    padding-right: 1em;
    padding-left: 1em;
    border-radius: 1em;
    border: 2px solid white;
    color: white;
    font-size: x-large;
}
